body {
	font-family: Arial, sans-serif;
}

form {
	margin-bottom: 20px;
}

label {
	margin-right: 10px;
}

input[type="number"] {
	width: 50px;
}

#result {
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
}

